<div class="flex flex-col gap-2 relative text-white">
  <h2 class="bg-blue-800 text-center py-4">
  <a href="<% link_to 'home', root_path %>" >
    <i class="fa-solid fa-arrow-left float-left mt-1 ml-2"></i>
  </a>
  <span class="-ml-4">Log in</span>
  </h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="p-2 w-full bg-white flex gap-4 items-center text-gray-400">
    <i class="fa-solid fa-image-portrait text-5xl rounded-lg"></i>
    <span>Upload image</span>
    </div>

    <div class="mb-1">
      <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name", class: 'border-none focus:border-none bg-white', placeholder: 'Full Name' %>
    </div>

    <div class="my-1">
      <%= f.email_field :email, autocomplete: "email", class: 'border-none focus:border-none bg-white', placeholder: 'Email' %>
    </div>

    <div class="my-1">
      <%= f.password_field :password, autocomplete: "new-password", class: 'border-none focus:border-none bg-white', placeholder: 'Password' %>
    </div>

    <div class="actions">
      <%= f.submit "Next", class:'absolute top-5 right-2 text-xs' %>
    </div>
  <% end %>

  <div class="text-center mt-4 text-gray-400">
    <%= render "devise/shared/links" %>
  </div>
</div>
