<div id="<%= dom_id category %>" class="my-5">
    <div class="flex justify-between border border-gray-200 rounded-md p-2">
    <div class="w-8/12 flex gap-2">
      <div class="my-5">
        <img src="<%= category.icon %>" alt="<%= category.icon %>" class="w-8 h-auto object-contain rounded-lg">
      </div>
      <div class="my-5">
        <%= link_to category.name, category %>
      </div>
    </div>
    <div class="flex w-4/12">
      <div class="my-5 mr-12 font-bold">
        <% category.transactions.each do |transaction| %>
          <p>$<%= transaction.amount %></p>
        <% end %>
      </div>
    </div>
  </div>
    
  <hr class="mt-6">
</div>
