<div class="flex flex-col gap-2 w-full">
 <h2 class="bg-blue-800 text-center py-4 text-white">
  <%= link_to '', categories_path, class: "fa-solid fa-arrow-left float-left mt-1 ml-2" %>
  <span class="-ml-4">Transactions</span>
  </h2>
<div class="mx-auto w-10/12 flex">
  <div class="mx-auto w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @category %>
    <table class="table-auto w-full mb-5">
      <thead class="border-b-2">
        <tr class="text-left">
          <th>Title</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          <%= render @category.transactions %>
      </tbody>
    </table>

    <div class="inline-block ml-2 mt-8">
      <%= link_to 'Add Transaction', new_transaction_path, class: "mt-2 rounded-lg py-3 px-5 bg-blue-600 text-white font-medium" %>
    </div>
  </div>
</div>
</div>